<h2>Welcome to Walkoff!</h2>
<p>
  The time is now: <%= Time.now %>
</p>
This is an app created for #BaseballHackDay on 25 March 2017
When a baseball game is in a potential walkoff situation,
our app will send out a tweet via the Twitter account @walkoffbot.
This way you can stay informed about all the season's most exciting games!

Contributors:
@chagan
@davidwkaiser
@h12
@tejaykodali

Tech Stack:
Rails
MLB Gameday API
Twitter API